/* Main/Navbar */

*{
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.navbar{
    background: #191919;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img{
    width: 100px;
    height: 100px;
    padding: 15px;
}

.welcome{
    border: 1px solid #2ecc71;
    border-radius: 5px;
    align-content: center;
}

.welcome h2{
    color: #2ecc71;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.logout a{
    color: #2ecc71;
    font-weight: 600;
    font-size: 30px;
    border-bottom: 2px solid transparent; 
    padding-right: 38px;
}

.logout a:hover{
    color: #34495e; 
}

.box{
    width: 400px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid #2ecc71;
    background: #191919;
    text-align: center;
    word-wrap: break-word; /* Allow long words to wrap */
}

.box h3{
    color: #fff;
    font-weight: 300px;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/* All tasks on home screen  */

.count h1{
    padding:1px;
    color: #fff;
    margin-bottom: 20px;
}

.task-list {
    padding: 10px;
}

 .due-today a{
    color:#2ecc71;
    font-weight: 200;
    font-size: 25px;
}

.due-today a:hover{
    color: #34495e; 
}

.not-due-today a{
    color: white;
    font-weight: 200;
    font-size: 25px;
}

.not-due-today a:hover{
    color: #34495e; 
}

.delete-button{
    background-color:#191919;
    color: red;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.add input[type="submit"]{
    border:0;
    background: none;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.add input[type = "submit"]:hover{
    background: #2ecc71;
  }

  /* Details */
.row h1{
    padding:1px;
    color: #2ecc71;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 40px;
}

.row h2{
    padding:1px;
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
}

.row button{
    border:0;
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.row button:hover{
    background: #2ecc71;
}

  /* Tasks Forms */
.task-form h1{
    color: #2ecc71;
}

.form label{
    font-weight: bold;
    color: #fff;
    margin-top: 5px;
    text-align: right;
    font-size: 20px;
}

.boxes{
    border-radius: 4px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.boxes1{
    border-radius: 4px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.boxes2{
    border-radius: 4px;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.boxes1 input[type="text"] {
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

.boxes textarea {
    resize: none;
    height: 100px;
    width: 300px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.boxes2 input[type="text"] {
    width: 100px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

.task-form button{
    border:0;
    background: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.task-form button:hover{
    background: #2ecc71;
}