/* Main/Navbar */

*{
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #34495e;
}

.navbar{
    background: #191919;
    font-family: calibri;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img{
    width: 100px;
    height: 100px;
    padding: 15px;
}

.welcome{
    border: 1px solid #2ecc71;
    border-radius: 5px;
    align-content: center;
}

.welcome h2{
    color: #2ecc71;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.logout a{
    color: #2ecc71;
    font-weight: 600;
    font-size: 30px;
    border-bottom: 2px solid transparent; 
    /* padding-right: 30px; */
}

.logout a:hover{
    border-bottom-color: #2ecc71; 
}