{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="{% static 'todo/style.css' %}">

</head>
<body>

    <nav class="navbar">
        <div class="navdiv">
            <div class="logo">
                <a href="{% url 'todo:task' %}">
                    <img src="{% static 'todo/logo.png' %}">
                </a>
            </div>
            <div class="welcome">
                <h2>Your tasks are below {{ user.username }}!</h2>
            </div>
            
            <div class="logout">
                {% if user.is_authenticated %}
                <a href="{% url 'todo:logout' %}">Logout</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}
        
        {% endblock %}
    </div>


</body>
</html>