{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo Registration</title>
    <link rel="stylesheet" href="{% static 'todo/registration.css' %}">
</head>
<body>
    <form action="" method="POST" class="container">
        <h1>Register Now</h1>
        {% csrf_token %}

        <div class="form">
        <label type="text" for="id_username">{{ form.username.label }}</label>
        </div>
        <div>
        {{ form.username }}
        </div>
        <div class="space"></div>
        <div class="form">
        <label type="email" for="id_email">{{ form.email.label }}</label>
        </div>
        <div>
        {{ form.email }}
        </div>
        <div class="space"></div>
        <div class="form">
        <label type="password1" for="id_password1">{{ form.password1.label }}</label>
        </div>
        <div >
        {{ form.password1 }}
        </div>
        <div class="space"></div>
        <div class="form">
        <label type="password2" for="id_password2">Confirm Password</label>
        </div>
        <div>
        {{ form.password2 }}
        </div>
        <input type="submit" value="Create Account" class="btn btn-primary">
    </form>
</body>
</html>

