
{% extends 'todo/main.html' %}

{% block body %}
    <div class="task-form">
        <form method="POST">
            <h1>Add Task</h1>
            {% csrf_token %}

            <div class="form">
                <label type="text" for="title">Task Name</label>
            </div>
            <div class="boxes1">
                {{ form.title }}
            </div>

            <div class="form">
                <label type="text" for="description">Description</label>
            </div>
            <div class="boxes">
                {{ form.desc }}
            </div>

            <div class="form">
                <label type="text" for="date">Due Date (Ex: M/D/Y)</label>
            </div>
            <div class="boxes2">
                {{ form.due_date }}
            </div>
            
            <button type="submit">Save</button>
        </form>
    </div>
{% endblock %}
